body{
    background-color: #ffffff;
}

.version {
    position: absolute;
    height: auto;
    width: auto;
    left: 95%;
    top: 0%;
    font-size: 2ex;
    z-index: 0;
    margin: 0;
    color: gray;
}

.door{
    width: 50%;
    height: 50%;
    cursor: pointer;;
    position: absolute;
}

.room{
    position: relative;
    margin: 0;
}

.roomImg{
    width: 100%;
    height: auto;
    margin: 0;
}

.back{
    position: fixed;
    height: auto;
    width: auto;
    left: 5%;
    top: 85%;
    font-size: 5ex;
}

.loading{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
    opacity: 0.85;
}

.loading.text{
    color: aqua;
    text-align-last: center;
    top: 100%;
}

.loading.show{
    display: block;
    animation: showBlock .5s linear forwards;
}

.loading.hide{
    animation: hideBlock .5s linear forwards;
}

@keyframes showBlock{
    from{
        opacity: 0;
    }
    to{
        opacity: 0.85;
    }
}

@keyframes hideBlock{
    from{
        opacity: 0.85;
    }
    to{
        opacity: 0;
        display: none;
        z-index: -1;
    }
}